* {
    padding: 0px;
    margin: 0px;
}

.item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.item-container .box {
    flex: 1;
    min-width: 200px;
    max-width: 200px;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px;
    margin: 25px;
    background: #fff;
    transition: .5s;
    border-radius: 5px;
}

.item-container .box:hover {
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, .1);
    transform: translateY(-5px);
    cursor: pointer;
}

.item-container .box .img-src {
    background: red;
    height: 250px;
    width: 100%;
}

.item-container .box p {
    text-align: center;
    padding: 10px;
}

.item-container .box h6 {
    font-size: 1em;
    padding: 5px;
    margin: 3px 0px;
    cursor: pointer;
    color: red;
}

.item-container .box h6:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .4)
}

.btn {
    padding: 10px;
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    background: rgba(0, 0, 0, .1);
}

.btn:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .4);
    color: #fff;
}

.btn-active,
.btn-de-active {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
    color: #fff;
}

.btn-active {
    background: cornflowerblue;
    color: #fff;
}

.btn-de-active {
    background: grey;
    color: #555;
    cursor: not-allowed;
}

.btn-active:hover {
    background: darkorange;
    cursor: pointer;
    color: #ffff;
}

.quantity-control {
    background: #fff;
    border: .2px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.quantity-control h2 {
    font-size: 7pt;
    background: cornflowerblue;
    color: #fff;
    padding: 3px 0px;
    text-align: center;
}

.quantity-control span {
    padding: 5px 10px;
    font-size: 8pt;
}

.quantity-control small {
    padding: 0px 5px;
}