@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
body{
  background:linear-gradient(rgba(256,256,256,.7),rgba(256,256,256,.7)),url('../assets/common-images/bg.png');
  background-position: center;
  background-attachment:fixed;
  background-size:500px;
}
::-webkit-scrollbar{
  width: 1px;
}

.item-container,.cateSetProductsLoaderLayer .cateSetProductsLoaderLayerBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.item-container .box,.cateSetProductsLoaderLayer .box{
    flex: 1;
    min-width: 240px;
    max-width: 240px;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px;
    margin: 25px;
    background: #fff;
    transition: .5s;
    border-radius: 5px;
}

.item-container .box:hover,.cateSetProductsLoaderLayer .box:hover{
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, .1);
    transform: translateY(-5px);
    cursor: pointer;
}

.item-container .box .img-src,.cateSetProductsLoaderLayer .box .img-src {
    background: red;
    height: 250px;
    width: 100%;
}

.item-container .box p,.cateSetProductsLoaderLayer .box p {
    text-align: center;
    padding: 10px;
}

.item-container .box h6,.cateSetProductsLoaderLayer .box h6 {
    font-size: 1em;
    padding: 5px;
    margin: 3px 0px;
    cursor: pointer;
    color: red;
}

.item-container .box h6:hover,.cateSetProductsLoaderLayer .box h6:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .4)
}

.btn {
    padding: 10px;
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    background: rgba(0, 0, 0, .1);
}

.btn:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .4);
    color: #fff;
}

.btn-active,
.btn-de-active {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
    color: #fff;
}

.btn-active {
    background: cornflowerblue;
    color: #fff;
}

.btn-de-active {
    background: grey;
    color: #555;
    cursor: not-allowed;
}

.btn-active:hover {
    background: darkorange;
    cursor: pointer;
    color: #ffff;
}

.quantity-control {
    background: #fff;
    border: .2px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.quantity-control h2 {
    font-size: 7pt;
    background: cornflowerblue;
    color: #fff;
    padding: 3px 0px;
    text-align: center;
}

.quantity-control span {
    padding: 5px 10px;
    font-size: 8pt;
}

.quantity-control small {
    padding: 0px 5px;
}
#common_dis_msg_box{
  width:50%;
padding:10px;
position:fixed;
left:0px;
top:0px;
z-index:500;
text-align: center;
display: none;
font-size:10pt;
font-weight: bolder;
border-radius:5px;
}


.mycart,
.myfav{
    height: 100vh;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:15;
    display: none;
    overflow: scroll;
    overflow-x: hidden;
}

#mycarttbl,
#myfavtbl {
    width: 90%;
    border-collapse: collapse;
}

#mycarttbl th {
    background: #123;
    color: #ddd;
    text-transform: capitalize;
}

#mycarttbl th,
#mycarttbl td {
    border: .2px solid rgba(0, 0, 0, .3);
    padding: 5px;
}

#mycarttbl tr:nth-child(even) {
    background: rgba(0, 0, 0, .1);

}

#mycarttbl td {
    text-align: left;
}

.slider-layer{
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding:10px;
}
.slider-box{
  width:50%;
  background:#fff;
  padding:15px;
  border-radius:10px;
  transition:1s;
  box-shadow:0px 10px 10px 2px rgba(0,0,0,.2)
}
.slider-box p{
  text-align:justify;
  padding:0px 10px;
}
#testi_message{
/* //  min-height:100px; */
  max-height:100px;
 overflow:scroll;
 padding:10px 0px;
 overflow-x:hidden
}
.slide-profile{
  padding:10px 0px;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  margin-bottom:15px;
  border-bottom:1px solid rgba(0,0,0,.2);
}
.slide-profile img{
  margin-right:15px;
  height:50px;width:50px;
  border-radius:25px;
}
.slide-btn{
padding:15px;
border-radius:100px;
background-color: rgba(0,0,0,.1);
border:.1px solid rgba(0,0,0,.1);
cursor: pointer;
}

.head-info{
  text-align: center;
}
.head-info h1,.head-info h3{
  margin:15px 0px;
  padding:5px 0px;
  position:relative;
  top: 0px;
  left:0px;
}

.head-info h1:after,.head-info h3:after{
  content: '';
  position:absolute;
  bottom: 0px;
  left:50%;
  background:orange;
  padding:2px 0px;
  width:50px

}

.cate-container{
  display: flex;
  justify-content: center;
/*  align-items: center;*/
  flex-wrap: wrap;
}
.cate-container .cate-box{
  position: relative;
  top: 0px;left:0px;
  border:.2px solid #000;
  border-radius:100%;
  width:50%;
  height:50%;
  height:200px;
  min-width:200px;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cate-container .cate-box:hover{
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,.4);
  cursor: pointer;
}

.cate-container a{
  margin:20px;
  text-decoration-color: transparent;
}
.cate-container .cate-box span{
  background:rgba(0,0,0,.7);
  color:#fff;
  padding:5px 10px;
  font-size: 11pt;
  border-radius:3px;;
}
.cate-container a h2{
  font-size:1em;
  background:rgba(0,0,0,.1);
  border-radius:10px;
  color:#fff;
  width:180px;
  word-wrap: break-word;
}
.glide__slide{
  position: relative;
  top:0px;
  left:0px;
}
.mainSlide-inner-layer{
  position:absolute;
  bottom:-100%;
  left:0px;
  background:linear-gradient(transparent,rgba(0,0,0,.7),rgba(0,0,0,1));
  width:100%;
  height:50%;
  display: flex;
  justify-content: center;
align-items: center;
transition:.2s;
}
.mainSlide-inner-layer a{
  padding:20px;
  background:cornflowerblue;
  color:#fff;
  text-decoration: none;
  border-radius: 5px
}
.mainSlide-inner-layer a:hover{
  transform: translateY(-5px);
  background:orange;
  box-shadow:0px 10px 10px 1px rgba(0,0,0,.5);
}
.glide__slide:hover > .mainSlide-inner-layer{
  bottom:0px
}


.dis_search_result {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(256, 256, 256, .9), rgba(256, 256, 256, .9));
  position: fixed;
  top: 0px;
  left: 0px;
  z-index:10;
  display: none;
  backdrop-filter: blur(5px);
}

.dis_search_result .result {
  width: 50%;
  min-width: 200px;
  text-align: left;
  height: 100%;
  overflow: scroll;
}

.dis_search_result .result ul li {
  padding: 10px 3px;
  border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.dis_search_result .result ul li:hover {
  background: #555a;
  color: #fff;
  cursor: pointer;
}

.features_layer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.features_box {
  flex: 1;
  min-width: 150px;
  background: #fff;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding:40px 0px;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,.3);
}

.features_box h1 {
  font-size: 2.5em;
  margin:20px 0px;
}

.features_box:hover{
  background-color: lightseagreen;
  color:#fff;
  cursor:pointer
}
.rotate360auto{
  font-size: 11pt;
  animation:rt360 1s linear infinite;
}

@keyframes rt360{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

@media only screen and (max-width:800px){
  .slider-box{
    width:90%;
  }
}
